<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>View Results</title>-->
<!--</head>-->
<!--<body>-->
<!--<pre> The most similar 10 documents are : {{ result }} </pre>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Results</title>
</head>
    
<style>
.spacing-table td {
  border-width: 1px 1px;
  width: 100%;
  border-color: black;
  border-style: solid;
  color: black;
  padding: 5px 15px;
  border-collapse: collapse;
}


</style>

<body>
<table border="1">
    <tr>
        <td width="10%"> <b> Clip ID </b> </td>
        <td width="10%"> <b> Clip Title </b> </td>
        <td width="50%"> <b>Clip Description (Captions) </b></td>
        <td width="20%"> <b> Clip Categories </b></td>
        <td width="10%"> <b> Clip Image </b></td>
    </tr>
    {% for res in result %}
    <tr>
        {% for key, val in res.items %}
        <td> {{ val }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

</body>
</html>
